.dashboard-bg {
  background-color: #f5f5f5;
  background-size: contain;
  height: 100% !important;
  width: 100%;
  overflow-x: hidden;
}
@media only screen and (max-width: 700px) {
  .dashboard-bg {
    padding-top: 25% !important;
  }
}
